<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>Vue</title>
  <link rel="stylesheet" href="css/vue.css">
  <script src="vue/vue.js"></script>
  <script src="jquery/jquery-3.3.1.js"></script>
</head>
<body>
<div class="app">
  <h2>1.声明式渲染</h2>
  <div id="app-1">
    {{message}}
  </div>
  <div id="app-2">
    <span :title="message">鼠标悬停几秒查看此处绑定的提示信息</span>
  </div>
  <hr>
  <h2>2.条件和循环</h2>
  <div id="app-3">
    <p v-if="seen">现在你看到我了</p>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <hr>
  <h2>3.处理用户输入</h2>
  <div id="app-5">
    <p>{{ message }}</p>
    <button type="button" :click="reverseMessage">逆转消息</button>
  </div>
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <hr>
  <div id="app-7">
    <ol>
      <!--创建一个todo-item 的组建的实例-->
      <todo-item v-for="item in list" :todo="item" :key="item.id">
      </todo-item>
    </ol>
  </div>
</div>
</body>
<script src="js/vue_1.js"></script>
</html>