<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>VUE_Demo_1</title>
  <link rel="stylesheet" href="css/demo_1.css">
  <script src="jquery/jquery-3.3.1.js"></script>
  <link rel="stylesheet" href="bootstrap/bootstrap.css">
  <link rel="stylesheet" href="jquery/jquery-ui.css">
  <script src="jquery/jquery-ui.js"></script>
  <script src="js/jqalert.js"></script>
  <script src="js/addr.js"></script>
  <script src="vue/vue.js"></script>
</head>
<body>
<div id="app" v-cloak>
  <div class="global-bg">
    <video autoplay muted loop>
      <source src="videos/blue_bokeh.mp4"/>
    </video>
    <div class="login-bg"></div>
    <div class="login-alert bg-dark container">
      <form>
        <div class="form-group">
          <div class="license col-12">{{ tips }}</div>
        </div>
        <div class="form-group">
          <label for="username" class="col-2">账户:</label>
          <input class="col-9 form-control" v-model="account" type="tel" id="username" placeholder="账户/手机号"
                 maxlength="11" autofocus>
        </div>
        <div class="form-group">
          <label for="password" class="col-2">密码:</label>
          <input class="col-9 form-control" v-model="password" type="password" id="password" placeholder="请输入密码">
        </div>
        <div class="form-group">
          <label for="provalue" class="col-2">城市:</label>
          <select name="province" class="col-3 form-control" id="provalue" v-model="proValue" @change="selectPro">
            <option :value="item.name" v-for="(item, index) in addrData">{{ item.name }}</option>
          </select>
          <select name="city" class="col-3 form-control" id="cityvalue" v-model="cityValue" @change="selectCity">
            <option :value="item.name" v-for="item in cityData">{{ item.name }}</option>
          </select>
          <select name="area" class="col-3 form-control" id="areavalue" v-model="areaValue" @change="selectArea">
            <option :value="item.name" v-for="item in areaData">{{ item.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="col-12">
            <input type="checkbox" class="check-box">
            <span>我已阅读并同意 <a href="javascript:void (0)">《许可协议》</a></span>
          </label>
        </div>
        <div class="form-group col-12">
          <button @click="loginbtn" type="button" class="form-control btn btn-block">立即注册</button>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
</body>
<script src="js/vue_demo_1.js"></script>
</html>